{
    "botToken": "BOT TOKEN HERE",
    "botSettings": {
	    "ownerID": "YOUR ID HERE",
	    "clientID": "BOT ID HERE",
	    "prefix": ",",
	    "passes": 4,
	    "clientOptions": {
	        "fetchAllMembers": true
	    }
    }
}